*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
nav{
    background: #000000;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: grey;
    font-size: 17px;
    text-transform: uppercase;
}
a.active,a:hover{
    color: white;
    transition: ease-out .5s;
    padding: 0 5px;
    border-radius: 2px;
    font-size: 18px;
}
section.a{
    background: url(home_back.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    opacity: 0.85;
}
section.b{
    background: url(home_back.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    opacity: 0.85;
}
h1{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .85;
    font-size: 2.5vw;
    transform-style: preserve-3d;
    perspective: 1px;
}


