@font-face {
    font-family: 'minimalisticlight';
    src: url('fonts/minimalistic_light-webfont.woff2') format('woff2'),
         url('fonts/minimalistic_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'minimalisticlight', Arial, sans-serif;
}
body{
    font-family: 'minimalisticlight', Arial, sans-serif;
    cursor: pointer;
    background-color: rgb(36, 36, 36);
}
nav{
    background: #000000;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'minimalisticlight', Arial, sans-serif;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: grey;
    font-size: 21px;
    text-transform: uppercase;
}
a.active,a:hover{
    color: white;
    transition: .5s;
    padding: 0 5px;
    border-radius: 2px;
    font-size: 23px;
}
section{
    background: url(res/home_back.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    opacity: 0.85;
    animation: FadeIn 1s;
}
.h1-index{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .85;
    font-size: 3.5vw;
    animation: FadeIn 2.5s;
}
.h1-what{
    color: white;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .85;
    font-size: 2.5vw;
    animation: FadeIn 1s;
}
.p-what{
    color:white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .85;
    font-size: 1.7vw;
    animation: FadeIn 2s;
}
.img-what{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 38%;
    border-radius: 10px;
    animation: FadeIn 3s;
    opacity: .85;
}
.p-what2{
    color:white;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    opacity: .85;
    font-size: 1.2vw;
    animation: FadeIn 4s;
}
@keyframes FadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: .85;
    }
}